body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
}

.login-container {
    height: 95vh; 
    width: 100vw;
    background-image: linear-gradient(to right, black, rgb(68, 66, 66), rgb(92, 81, 61));
    /* overflow: hidden; */
    /* background-image: url(../images//bgtrain.jpg); */
    /* background-color: black; */
}

.bg2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: none;
    height: 100%;
    width: 580px;
}

.log-card {
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.324);
    /* border: 5px solid; */
    color: white;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 10px;
    width: 28%;
    padding: 10px;
    margin-top: -600px;
    margin-left: 56%;
}


.form-control {
    height: 50px;
    /* width: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: rgba(196,196,196,0.5);
    outline: none;
    border: none;
}

.form-control ::placeholder {
    color: #a9a9a9;
    /* padding-left: 10px; */
    /* display: none;*/
}
.icons{
    color: #FFFFFF;
    margin-left: 15px;
}
.form-control input{
    width:250px;
    height:50px;
    border: none;
    outline: none;
    background: none;
    padding-left: 10px;
    color: white;
    /* background-color: rgba(196,196,196,0.5); */

}
.forgot-password {
    color: #ffd232;
    margin-left: 50%;
    text-decoration: underline;
    cursor: pointer;
}

.error-message {
    color: red;
}

.log-btn,
.log-btn:hover {
    color: black;
    background-color: #ffd232;
    border: none;
    border-radius: 40px;
    width:240px;
    height:45px;
    outline: none;
    width: 100%;
    margin-bottom: 15px;
    cursor: pointer;
}



.inputDiv {
    margin-left: 30px;
    /* / margin-top: 30px;/ */
}

.inputContainer {
    position: relative;
    /* / margin-bottom: 10px;/ */
}

.inputIcon {
    position: absolute;
    top: 40%;
    left: 30px;
    transform: translateY(-40%);
    color: #fff;
}

.inputDiv input {
    width: 380px;
    height: 48px;
    border-radius: 24px;
    background-color: rgba(151, 145, 145, 0.4);
    border: none;
    outline: none;
    padding-left: 60px;
    /* / margin-bottom: 10px;/ */
}

.inputDiv input::placeholder {
    color: rgb(150, 142, 142);
    font-size: 16px;
}

.password-input, .email-input {
    /* display: none; */
    margin-top: 20px;
    width: 350px;
}